//Envolvendo todo o código do componente Reembolsos

.ContainerGeralReembolsos {
    height: 100vh;
    padding-left: 20%;
  }
  
  header {
    nav {
      width: 10%;
      height: 10vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 1rem;
        font-weight: 400;
        color: #23282f;
      }
    }
  
    section {
      h1 {
        color: #000000;
        font-size: 2rem;
        font-weight: 700;
      }
      p {
        color: #000000;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
  
  main {
    .containerSolicitacoes {
      height: 30vh;
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .boxOneReembolso {
        background-color: #0844c4;
        border: solid #bcc6d3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 21vh;
        border-radius: 6px;
  
        h5 {
          font-size: 0.87rem;
          font-weight: 700;
          color: #ffffff;
          margin-top: 0.5rem;
        }
      }
  
      .boxTwoVerTodos,
      .boxthreeHistorico {
        background-color: #ffffff;
        border: solid #bcc6d3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 21vh;
        border-radius: 6px;
        h5 {
          font-size: 0.87rem;
          font-weight: 700;
          color: #23282f;
          margin-top: 0.5rem;
        }
        &:hover {
          background-color: #0844c4;
          h5 {
            color: #ffffff;
          }
        }
      }
    }
  
    //---- Section  Levantamento de solicitados, análise, aprovados, rejeitados
  
    .containerVetores {
      width: 60%;
      margin-top: 30px;
      height: 15vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: solid #bcc6d3;
    }
  
    .boxSolicitados,
    .boxAnalise,
    .boxAprovados,
    .boxRejeitados {
      width: 22%;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .quantidade {
        font-weight: bold;
      }
    }
  
    .boxSolicitados {
      div {
        height: 4vh;
        width: 2vw;
        background-color: #00bedd;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
    }
  
    .boxAnalise {
      div {
        height: 4vh;
        width: 2vw;
        background-color: #e56700;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
    }
  
    .boxAprovados {
      div {
        height: 4vh;
        width: 2vw;
        background-color: #007a6a;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
    }
  
    .boxRejeitados {
      div {
        height: 4vh;
        width: 2vw;
        background-color: #a60b2f;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
      }
    }
  
    //---- Section Sistema atualizado
  
    .containerNuvem {
      margin-top: 2rem;
      width: 24%;
      display: flex;
      justify-content: space-between;
      p {
        color: #0844c4;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }