.body {
  display: flex;
}

.ContainerGeralReembolsos {
  height: 100vh;
  width: 90vw;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
}

header nav {
  width: 15%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}
header nav p {
  font-size: 1rem;
  font-weight: 400;
  color: #23282f;
}
header section h1 {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
}
header section p {
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
}

main .containerSolicitacoes {
  height: 30vh;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .containerSolicitacoes .boxOneReembolso {
  background-color: #0844c4;
  border: solid #bcc6d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 21vh;
  border-radius: 6px;
}
main .containerSolicitacoes .boxOneReembolso h5 {
  font-size: 0.87rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 0.5rem;
}
main .containerSolicitacoes .boxTwoVerTodos,
main .containerSolicitacoes .boxthreeHistorico {
  background-color: #ffffff;
  border: solid #bcc6d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12vw;
  height: 21vh;
  border-radius: 6px;
}
main .containerSolicitacoes .boxTwoVerTodos h5,
main .containerSolicitacoes .boxthreeHistorico h5 {
  font-size: 0.87rem;
  font-weight: 700;
  color: #23282f;
  margin-top: 0.5rem;
}
main .containerSolicitacoes .boxTwoVerTodos:hover,
main .containerSolicitacoes .boxthreeHistorico:hover {
  background-color: #0844c4;
}
main .containerSolicitacoes .boxTwoVerTodos:hover h5,
main .containerSolicitacoes .boxthreeHistorico:hover h5 {
  color: #ffffff;
}
main .containerVetores {
  width: 60%;
  margin-top: 30px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid #bcc6d3;
}
main .boxSolicitados,
main .boxAnalise,
main .boxAprovados,
main .boxRejeitados {
  width: 22%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .boxSolicitados .quantidade,
main .boxAnalise .quantidade,
main .boxAprovados .quantidade,
main .boxRejeitados .quantidade {
  font-weight: bold;
}
main .boxSolicitados div {
  height: 4vh;
  width: 2vw;
  background-color: #00bedd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
main .boxAnalise div {
  height: 4vh;
  width: 2vw;
  background-color: #e56700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
main .boxAprovados div {
  height: 4vh;
  width: 2vw;
  background-color: #007a6a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
main .boxRejeitados div {
  height: 4vh;
  width: 2vw;
  background-color: #a60b2f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
main .containerNuvem {
  margin-top: 2rem;
  width: 24%;
  display: flex;
  justify-content: space-between;
}
main .containerNuvem p {
  color: #0844c4;
  font-size: 1rem;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */