

.container-login {
    display: flex;
    height: 100vh;

    .image-login {
        background-image: url("../../assets/image-login.png");
        background-repeat: no-repeat;
        background-size: 100% 130vh;
        background-position: center;
        width: 60%;
    }

    .forms-login {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        article {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 20vw;
            height: 60vh;
            font-family: 'Inter', serif;

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 2.2rem;
                    font-weight: 700;
                    width: 85%;
                    text-align: center;
                }

                p {
                    font-size: 0.8rem;
                    color: #0844C4;
                    font-weight: 700;
                }
            }

            form {
                height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                label {
                    color: #23282F;
                    font-weight: 700;
                }

                input {
                    height: 5vh;
                }

                input::placeholder {
                    padding-left: 0.5rem;
                    color: red;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    height: 25%;
                    width: 80%;
                    justify-content: space-around;
                    align-self: center;
                    align-items: center;
                }

                #btn-signin {
                    background-color: #001A3D;
                    &:hover{
                        background-color: #FFFFFF;
                        color: #00BEDD;
                        border: 2px solid #00BEDD;
                        transition: 0.2s ease-in-out;
                    }
                }

                #btn-signup {
                    background-color: #00BEDD;
                    &:hover{
                        background-color: #FFFFFF;
                        color: #001A3D;
                        border: 2px solid #001A3D;
                        transition: 0.2s ease-in-out;
                    }
                }

                button {
                    height: 70%;
                    width: 45%;
                    border: none;
                    border-radius: 6px;
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 1rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }


        }
    }
}