input,
select,
textarea {
  border: 2px solid #CBD4E1;
  border-radius: 6px;
}

.tela-reembolso {
  display: flex;
}

.conteudo-tela-reembolso {
  width: 95vw;
  display: flex;
  flex-direction: column;
}

.container-inputs {
  width: 100%;
  background-color: white;
  display: flex;
  height: 20vh;
  border: 2px solid red;
}
.container-inputs .box-information {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 2px solid black;
}
.container-inputs .box-information input {
  height: 3vh;
}
.container-inputs .box-information #first-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.container-inputs .box-information #first-row div {
  display: flex;
  flex-direction: column;
}
.container-inputs .box-information #first-row div #nome-completo {
  width: 17vw;
}
.container-inputs .box-information #second-row {
  display: flex;
  flex-direction: column;
  height: 50%;
  align-items: center;
}
.container-inputs .box-information #second-row #text-description {
  width: 93%;
  height: 7vh;
}
.container-inputs .box-information #second-row label {
  width: 93%;
  display: flex;
  justify-content: flex-start;
}
.container-inputs .box-information2 {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-inputs .box-information2 #first-row {
  display: flex;
  justify-content: space-evenly;
  height: 35%;
  align-items: center;
}
.container-inputs .box-information2 #first-row input {
  height: 3vh;
  width: 7vw;
}
.container-inputs .box-information2 #first-row div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.container-inputs .box-information2 #first-row #cost-center-input {
  width: 25vw;
}
.container-inputs .box-information2 #first-row select {
  width: 15vw;
  height: 3vh;
  background-color: #FFFFFF;
}
.container-inputs .box-information2 .second-row {
  display: flex;
  height: 50%;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 2px solid red;
}
.container-inputs .box-information2 .second-row label {
  font-size: 0.8rem;
}
.container-inputs .box-information2 .second-row div {
  display: flex;
  flex-direction: column;
  width: 12%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}
.container-inputs .box-information2 .second-row .inputs-info-sr {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  border: 3px solid purple;
}
.container-inputs .box-information2 .second-row #order-input,
.container-inputs .box-information2 .second-row #PEP {
  width: 60%;
  height: 40%;
}
.container-inputs .box-information2 .second-row #cents {
  width: 100%;
  height: 40%;
  background-color: #FFFFFF;
}
.container-inputs .box-information2 .second-row #distance-input,
.container-inputs .box-information2 .second-row #value-km,
.container-inputs .box-information2 .second-row #value-tax,
.container-inputs .box-information2 .second-row #value-fat {
  width: 100%;
  height: 40%;
}
.container-inputs .box-information2 .second-row #container-buttons {
  width: 20%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container-inputs .box-information2 .second-row #container-buttons #button-save {
  width: 4vw;
  height: 4vh;
  background-color: #001A3D;
  color: #FFFFFF;
  border-radius: 6px;
  border: none;
  font-weight: bolder;
}
.container-inputs .box-information2 .second-row #container-buttons #button-save:hover {
  background-color: #FFFFFF;
  color: #001A3D;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: #001A3D solid 1px;
}
.container-inputs .box-information2 .second-row #container-buttons #button-out {
  background-color: #00BEDD;
  color: #FFFFFF;
  font-weight: bolder;
  width: 2.5vw;
  height: 4vh;
  border-radius: 6px;
  border: none;
}
.container-inputs .box-information2 .second-row #container-buttons #button-out:hover {
  background-color: #FFFFFF;
  color: #00BEDD;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: #00BEDD solid 1px;
}

.screen-info {
  background-color: #FFFFFF;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.screen-info .table-informations {
  border: 2px solid red;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
.screen-info .table-informations th {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  width: 100vw;
  border: 1px solid #CBD4E1;
  background-color: #F1F4F9;
}
.screen-info .table-informations th:nth-child(7) {
  font-size: 0.8rem;
}
.screen-info .table-informations th:nth-child(2) {
  border: solid 1px red;
  font-size: 0.7rem;
}
.screen-info .table-informations tr {
  display: flex;
  justify-content: space-between;
}
.screen-info .table-informations tr td {
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CBD4E1;
  font-size: 1rem;
}
.screen-info .table-informations tr td:nth-child(8) {
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */